
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="page-header">
			<h1>Add Properties Types</h1>
		</div>
	</div>

	<form [formGroup]="propertyTypeForm">
		<div class="col-lg-6 col-md-6" formArrayName="propertyType">
			<div formGroupName="0">
				<!--Properties-->
				<div class="form-group page-header">
					<label>Property Type</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Name" name="name" formControlName="name">
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Address" name="propertyTypeAddress" formControlName="address">
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Price" name="propertyTypePrice" formControlName="price">
				</div>

				<div class="form-group">
					<label>Cancellable</label>
					<label class="checkbox-inline"><input type="radio" [value]="true" formControlName="is_cancelable">Yes</label>
					<label class="checkbox-inline"><input type="radio" [value]="false" formControlName="is_cancelable">No</label>
					<!--<input type="text" class="form-control custom-form-control" placeholder="Cancellable" formControlName="cancellable">-->
				</div>
				<div class="form-group">
					<label>Maximum Number of Guest</label>
					<input type="number" class="form-control custom-form-control" placeholder="Maximum number of guest" name="propertyTypemaximumNumberOfGuest"
						formControlName="max_no_of_guest" style="width:30%;">
				</div>
			</div>
			<button type="submit" class="btn btn-primary" (click)="addPropertyType(false)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>

			<button type="submit" class="btn btn-success" (click)="addPropertyType(true)"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit And Continue</button>
			<p><span class="error">{{message}}</span></p>
		</div>
	</form>
</div>