<div class="container" id="propertyTypeTable">
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="page-header">
            <h1>Properties Types</h1>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Maximum Number of Guest</th>
              <th>Price</th>
              <th>Cancellable</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let type of propertiesTypes">
              <td>{{type.name}}</td>
              <td>{{type.address}}</td>
              <td>{{type.max_no_of_guest}}</td>
              <td>{{type.price}}</td>
              <td>
                <span *ngIf="type.is_cancelable">Yes</span>
                <span *ngIf="!type.is_cancelable">No</span>
              </td>
            </tr>
            <tr *ngIf="!hasPropertyTypes">
              <td colspan="5">There are no any property types added.</td>'
            </tr>
          </tbody>
        </table>
        </div>
  </div>
</div>
