<div *ngIf="layout == 'default'">
	<router-outlet></router-outlet>
</div>

<div class="row" *ngIf="layout == 'dashboard'">
	<div class="col-lg-3 col-md-3">
		<div class="nav-side-menu">
			<div class="brand">Yay!Booking</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

			<div class="menu-list">

				<ul id="menu-content" class="menu-content collapse out">
					<li>
						<a href="#">
							<i class="fa fa-dashboard fa-lg"></i> Dashboard
						</a>
					</li>

					<li data-toggle="collapse" data-target="#properties" class="collapsed">
						<a href="#"><i class="fa fa-globe fa-lg"></i> Properties Type<span class="arrow"></span></a>
					</li>
					<ul class="sub-menu collapse" id="properties">
						<li (click)="viewPropertiesTypes()">View</li>
						<li (click)="routeToAddPropertiesType()">Add New</li>
					</ul>

					<li data-toggle="collapse" data-target="#resources" class="collapsed">
						<a href="#"><i class="fa fa-globe fa-lg"></i> Resources <span class="arrow"></span></a>
					</li>
					<ul class="sub-menu collapse" id="resources">
						<li (click)="viewResources()">View</li>
						<li (click)="addResources()">Add New</li>
					</ul>

					<li>
						<a href="#">
							<i class="fa fa-user fa-lg"></i> Profile
						</a>
					</li>

					<li data-toggle="collapse" data-target="#users" class="collapsed">
						<a href="#">
							<i class="fa fa-users fa-lg"></i> Users
						</a>
					</li>
					<ul class="sub-menu collapse" id="users">
						<li (click)="logout()">Logout</li>

					</ul>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-9 col-md-9">

		<router-outlet></router-outlet>
	</div>
</div>