<div class="container">
	<div class="row registration-form">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="registration-card">
				<form [formGroup]="userForm" (ngSubmit)="register()">
						<div class="form-group">
								<label for="companyNameRegister">Company Name:</label>
								<input type="text" class="form-control" id="companyNameRegister" formControlName="company_name">
							</div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" class="form-control" id="email" formControlName="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" formControlName="password">
				</div>
				<button type="submit" class="btn btn-success btn-block btn-custom" [disabled]="inProgress">Register Your Company</button>
				<span class="hasAccountLabel">Already have an account?</span>
				<span class="btn btn-primary btn-link" (click)="navigateToLogin()"> Click to Login</span>
			</form>
			</div>
			<p><span class="error">{{message}}</span></p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>