extends layout

block content
  h1= title
  p Views in the particular route are only for example purpose. 
  p For actual testing. Please head to 
      a(href="http://localhost:3000/api-docs") APIDOCS
