<div class="container">
	<div class="row login-form">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="login-card">
				<form [formGroup]="userForm" (ngSubmit)="login()">
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" class="form-control" id="email" formControlName="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" formControlName="password">
				</div>
				<button type="submit" class="btn btn-success btn-block btn-custom" [disabled]="inProgress">Login</button>
				<span class="hasAccountLabel">Not a Member?</span>
				<span class="btn btn-primary btn-link" (click)="navigateToRegister()"> Click to Register</span>
			</form>
			</div>
			<p><span class="error">{{message}}</span></p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>