<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="page-header">
			<h1>Add Resources</h1>
		</div>
	</div>

	<form [formGroup]="resourceForm">
		<!--Resources-->
		<div class="col-lg-6 col-md-6" formArrayName="resources">
			<div formGroupName="0">
				<div class="form-group page-header">
					<label>Resources</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Name" formControlName="name">
				</div>
				<div class="form-group">
					<textarea class="form-control custom-form-control" placeholder="Description" formControlName="desc"></textarea>
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Extra Price" formControlName="extra_price">
				</div>

				<div class="form-group">
					<input type="number" class="form-control custom-form-control" placeholder="Max. Qty." formControlName="MaxQty" style="width:30%;">
				</div>
				<button type="submit" class="btn btn-primary" (click)="addResources()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
				<button type="submit" class="btn btn-success" (click)="addProperty()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit And Continue</button>
			</div>
		</div>
	</form>
</div>