<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="page-header">
			<h1>Add Properties Types</h1>
		</div>
	</div>

	<form [formGroup]="propertyTypeForm">
		<!--<div class="col-lg-6 col-md-6">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control custom-form-control" name="propertyName" formControlName="name">
			</div>

			<div class="form-group">
				<label for="email">Description</label>
				<textarea class="form-control custom-form-control" name="propertyDescription" formControlName="description"></textarea>
			</div>
		</div>-->
		<!--<div class="row">

		</div>-->
		<div class="col-lg-6 col-md-6" formArrayName="propertyType">
			<div formGroupName="0">
				<!--Properties-->
				<div class="form-group page-header">
					<label>Property Type</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Name" name="name" formControlName="name">
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Address" name="propertyTypeAddress" formControlName="address">
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Price" name="propertyTypePrice" formControlName="price">
				</div>

				<div class="form-group">
					<label>Cancellable</label>
					<label class="checkbox-inline"><input type="radio" [value]="true" formControlName="cancellable">Yes</label>
					<label class="checkbox-inline"><input type="radio" [value]="false" formControlName="cancellable">No</label>
					<!--<input type="text" class="form-control custom-form-control" placeholder="Cancellable" formControlName="cancellable">-->
				</div>
				<div class="form-group">
					<label>Maximum Number of Guest</label>
					<input type="number" class="form-control custom-form-control" placeholder="Maximum number of guest" name="propertyTypemaximumNumberOfGuest"
						formControlName="max_no_guest" style="width:30%;">
				</div>
			</div>
			<button type="submit" class="btn btn-primary" (click)="addProperty()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>

			<button type="submit" class="btn btn-success" (click)="addProperty()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit And Continue</button>
		</div>

		<!--Resources-->
		<!--<div class="col-lg-6 col-md-6" formArrayName="resources">
			<div formGroupName="0">
				<div class="form-group page-header">
					<label>Resources</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Name" formControlName="name">
				</div>
				<div class="form-group">
					<textarea class="form-control custom-form-control" placeholder="Description" formControlName="description"></textarea>
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Extra Price" formControlName="extra_price">
				</div>

				<div class="form-group">
					<input type="text" class="form-control custom-form-control" placeholder="Maximum Quantity" formControlName="max_quantity">
				</div>
				<button type="submit" class="btn btn-primary" (click)="addProperty()">Submit</button>
			</div>
		</div>-->
	</form>
</div>